/*Styles for the entire page */
body 
{
    font-family:'Courier New', Courier, monospace;
    background: #ccc;
    text-align: center;
}
/*Styles for headings*/
h1
{
    color: #333;
}

h2
{
    color: #333;
}

h3 
{
    color: #333;
    text-align: left;
    text-transform: uppercase;
}
/*Styles for paragraphs*/
p
{
    color: #333;
    text-align: left;
}

/* Styles for the form class*/
.form 
{
    margin: 20px;
}

/*Styles for labels*/
label
{
    display: block;
    text-align: center;
    font-size: 16px;
}

/*Styles for text input and checkboxes*/
input[type="text"]
{
    padding: 8px;
    width: 350px;
}
label input[type="checkbox"]
{
    transform: scale(1.5);
    vertical-align: middle;
    margin-left: 10px;
}

/*Styles for the submit button*/
button 
{
    padding: 8px 14px;
    background: #3198d3;
    color: white;
    border:none;
    box-shadow: 3px 3px 6px #333;
}
/*Styles for the car summary section*/
.car-card 
{
    background:white;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
}