/*Entire Page Styling*/
body 
{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #248d7a, #93ebd5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

/*Title Styling*/
h1
{
    text-align: center;
}

/*Main Container Styling*/
.container 
{
    background: rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*Input Section Styling*/
.inputSection 
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

/*Input Field Styling*/
#taskInput 
{
    flex: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
}

/*Add Task Button Styling*/
#addTask
{
    padding: 7px 14px;
    background: #e7f1ea;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#addTask:hover 
{
    background-color:#57a899;
    color: white;
}

/*Task List Styling*/
#taskList 
{
    list-style: none;
    margin: 0;
    padding: 0 14px;
    box-sizing: border-box;
}

/*Task Item Styling*/
#taskList li 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 14px;
    margin-top: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

/*Task Text Styling*/
#taskList li span
{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}
#taskList li.completed span 
{
    text-decoration: line-through;
    color: #666;
    font-style: italic;
}

/*Delete Button Styling*/
#taskList li button
{
    padding: 7px 14px;
    background: #e7f1ea;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
#taskList li button:hover
{
    background-color: #57a899; 
}
